##--------------------system Config--------------------##
##Controller Server Manager IP. example:x.x.x.x
HOST_IP={{controller_ip}}

##Controller HOST Password. example:000000 
HOST_PASS={{PASSWD}}

##Controller Server hostname. example:controller
HOST_NAME={{controller_name}}

##Compute Node Manager IP. example:x.x.x.x
HOST_IP_NODE={{compute_ip}}

##Compute HOST Password. example:000000 
HOST_PASS_NODE={{PASSWD}}

##Compute Node hostname. example:compute
HOST_NAME_NODE={{compute_name}}

##--------------------Chrony Config-------------------##
##Controller network segment IP.  example:x.x.0.0/16(x.x.x.0/24)
network_segment_IP={{network_segment_IP}}/24

##--------------------Rabbit Config ------------------##
##user for rabbit. example:openstack
RABBIT_USER=openstack

##Password for rabbit user .example:000000
RABBIT_PASS={{PASSWD}}

##--------------------MySQL Config---------------------##
##Password for MySQL root user . exmaple:000000
DB_PASS={{PASSWD}}

##--------------------Keystone Config------------------##
##Password for Keystore admin user. exmaple:000000
DOMAIN_NAME=demo
ADMIN_PASS={{PASSWD}}
DEMO_PASS={{PASSWD}}

##Password for Mysql keystore user. exmaple:000000
KEYSTONE_DBPASS={{PASSWD}}

##--------------------Glance Config--------------------##
##Password for Mysql glance user. exmaple:000000
GLANCE_DBPASS={{PASSWD}}

##Password for Keystore glance user. exmaple:000000
GLANCE_PASS={{PASSWD}}

##--------------------Nova Config----------------------##
##Password for Mysql nova user. exmaple:000000
NOVA_DBPASS={{PASSWD}}

##Password for Keystore nova user. exmaple:000000
NOVA_PASS={{PASSWD}}

##--------------------Neturon Config-------------------##
##Password for Mysql neutron user. exmaple:000000
NEUTRON_DBPASS={{PASSWD}}

##Password for Keystore neutron user. exmaple:000000
NEUTRON_PASS={{PASSWD}}

##metadata secret for neutron. exmaple:000000
METADATA_SECRET={{PASSWD}}

##Tunnel Network Interface. example:x.x.x.x
{% if ansible_fqdn == "controller" %}
INTERFACE_IP={{controller_ip}}
{% elif ansible_fqdn == "compute" %}
INTERFACE_IP={{compute_ip}}
{% endif %}

##External Network Interface. example:eth1
INTERFACE_NAME={{External_Network}}

##External Network The Physical Adapter. example:provider
Physical_NAME={{Physical_NAME}}

##First Vlan ID in VLAN RANGE for VLAN Network. exmaple:101
minvlan=1

##Last Vlan ID in VLAN RANGE for VLAN Network. example:200
maxvlan=4000

##--------------------Cinder Config--------------------##
##Password for Mysql cinder user. exmaple:000000
CINDER_DBPASS={{PASSWD}}

##Password for Keystore cinder user. exmaple:000000
CINDER_PASS={{PASSWD}}

##Cinder Block Disk. example:md126p3
BLOCK_DISK={{cinder_disk}}

##--------------------Swift Config---------------------##
##Password for Keystore swift user. exmaple:000000
SWIFT_PASS={{PASSWD}}

##The NODE Object Disk for Swift. example:md126p4.
OBJECT_DISK={{swift_disk}}

##The NODE IP for Swift Storage Network. example:x.x.x.x.
STORAGE_LOCAL_NET_IP={{STORAGE_LOCAL_NET_IP}}

##--------------------Heat Config----------------------##
##Password for Mysql heat user. exmaple:000000
HEAT_DBPASS={{PASSWD}}

##Password for Keystore heat user. exmaple:000000
HEAT_PASS={{PASSWD}}

##--------------------Zun Config-----------------------##
##Password for Mysql Zun user. exmaple:000000
ZUN_DBPASS={{PASSWD}}

##Password for Keystore Zun user. exmaple:000000
ZUN_PASS={{PASSWD}}

##Password for Mysql Kuryr user. exmaple:000000
KURYR_DBPASS={{PASSWD}}

##Password for Keystore Kuryr user. exmaple:000000
KURYR_PASS={{PASSWD}}

##--------------------Ceilometer Config----------------##
##Password for Gnocchi ceilometer user. exmaple:000000
CEILOMETER_DBPASS={{PASSWD}}

##Password for Keystore ceilometer user. exmaple:000000
CEILOMETER_PASS={{PASSWD}}

##--------------------AODH Config----------------##
##Password for Mysql AODH user. exmaple:000000
AODH_DBPASS={{PASSWD}}

##Password for Keystore AODH user. exmaple:000000
AODH_PASS={{PASSWD}}

##--------------------Barbican Config----------------##
##Password for Mysql Barbican user. exmaple:000000
BARBICAN_DBPASS={{PASSWD}}

##Password for Keystore Barbican user. exmaple:000000
BARBICAN_PASS={{PASSWD}}
