[server]


[mysqld]

[galera]

wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so 
wsrep_cluster_address="gcomm://10.10.16.10,10.10.16.20,10.10.16.30"
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

bind-address=10.10.16.30

[embedded]


[mariadb]


[mariadb-10.3]

